# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Data and model files
data/raw/
data/processed/
models/saved/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
